//
   Created by loketa on 9/13/16.

header.row
    div.headerTop.col-md-12
        div.headerLeft.col-md-1
            img.img-responsive(src="/images/Army_officer.png")
        div.headerMiddle.col-md-9
            h1 公司员工考勤系统
        div.headerRight.col-md-1
            a.text-center(href="#")
                img.img-responsive.center-block(src="/images/user.png")
                span.center-block 用户信息
        div.headerRight.col-md-1
            a.text-center(href="#")
                img.img-responsive.center-block(src="/images/logout.png")
                span.center-block 退出登陆
    nav#headerNav.col-md-12.navbar.navbar-default
        ul.nav.navbar-nav
            li
                a(href="/checkwork") 考勤登记
            li
                a(href="/staffstatu/null") 员工状态
            li
                a(href="/leave") 员工请假
            li
                a(href="/analyse") 数据分析
            li
                a(href="/newuser") 添加员工