doctype html
html
  head
    title= title
    link(rel="stylesheet/less",type="text/css", href='/vendor/bootstrap-3.3.5-dist/css/bootstrap.css')
    link(rel="stylesheet/less",type="text/css", href='/vendor/bootstrap-3.3.5-dist/css/bootstrap-theme.min.css')
    link(rel="stylesheet/less",type="text/css", href='/stylesheets/style.less')
    block headStyle
    script(src="/vendor/jquery/jquery-2.1.4.min.js",type="text/javascript")
    script(src="/vendor/bootstrap-3.3.5-dist/js/bootstrap.min.js",type="text/javascript")
    script(src="/vendor/less-2.7.1-dist/less.min.js",type="text/javascript")
    block headJavascript
  body
    div.container-fluid
      include header
      div.row
        include sider
        article.jumbotron.col-md-10
            block content

