//
   Created by loketa on 9/12/16.

extends layout

block content
    h1=title
    form#formAdduser(name="adduser",method="post",action="/adduser")
        div.row
            div.col-md-2
                select.form-control(name="dept")
                    option(value="处部") 处部
                    option(value="一科") 一科
                    option(value="二科") 二科
                    option(value="三科") 三科
                    option(value="四科") 四科
            div.col-md-2
                input#inputUserName(type="text",placeholder="姓名",name="username")
            div.col-md-2
                input#inpustUserPhone(type="text",placeholder="电话",name="phone")
            div.col-md-2
                input#inputUserVecation(type="text",placeholder="假期天数",name="vecation")
        button#btnSubmit.pull-right.btn.btn-success(type="submit") 提交