
body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.headerTop{
  //height:50px;
  margin:0;
  background-image: url("/images/metal-texture.jpg");

}

a {
  color: #00B7FF;
  &:hover{
    color: #00B7FF;
  }
  &:focus{
    color: #00B7FF;
  }
}

.btn-clickable{
  &.active{
    background:lawngreen;
    color:white;
  }
}



span.label{
  &.disActive{
    background-color:#777;
  }
}

